html
  head
    title Customer Messaging - RealMQ Example Application
    style(type="text/css").
      body {
        font-family: 'Dosis', Helvetica, Arial, sans-serif;
        font-size: 1.2rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #323d47;
      }
      body::after {
        content: "";
        background: url(/img/backdrop.svg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        opacity: 0.8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;
      }
      h1 {
        font-weight: normal;
      }
      a, a:visited, a:hover {
        color: #3ac955;
        text-decoration: none;
      }
      header {
        margin: auto;
        max-width: 640px;
        padding-top: 60px;
        text-align: center;
      }
      section.main {
        margin: 4rem auto auto auto;
        max-width: 640px;
        text-align: center;
      }
      .how-it-works {
        text-align: left;
      }
      .github-ribbon {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
      }
  body
    header
      img(src="/img/logo.svg")
      h1 Customer Messaging

    section.main
      .how-it-works
        p
          | This is an example implementation that implements a simple customer messaging application on top
          | of RealMQ.
        p
          | The application consists of two parts - a public customer facing widget that can be
          | implemented on any web page, and a private chat application that agents use to communicate with
          | customers. Every time a new customer opens a page with the widget, it will create a new chat that
          | automatically appears on the customer chat list in the agent app.
        p
          br
          | See it in action:
        ul
          li Click the icon in the lower right corner to open a chat window.
          li Open the #[a(href='/agent' target='_blank') agent chat] in a new tab or browser window.
          li Start chatting!
        | Pro tip: You can reference a customer chat by its unique name shown in the top of the chat
        | the chat widget.
    footer

script(src="/js/widget.js")
