style(type="text/css").
  .page {
    font-family: 'Dosis', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #323d47;
    padding-top: 60px;
  }
  h1 {
    font-weight: normal;
  }

.page
  img(src="https://realmq.com/img/logo.svg")
  h1 RealMQ customer messaging
  p A customer messaging reference implementation on top of RealMQ's instant messaging backbone.

script(src="/js/widget.js")
