@import "variables";

.rmq-window {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4);
  position: relative;
  @include material-shadow(3);
  transition: $trans;

  .rmq-window-body {
    flex-grow: 1;
    padding: ($navHeight - ($navHeight/1.5)) / 2;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
      width: 0 !important
    }

    .rmq-channels h3 {
      font-weight: normal;
    }
  }

  .rmq-window-nav {
    height: $navHeight;
    z-index: $nav;
    background-color: $primary;
    color: $white;
    @include material-shadow(1);

    .rmq-nav-title {
      height: 32px;
      margin: 16px;
      float: left;
    }

    .rmq-nav-close {
      height: 32px;
      width: 32px;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0zOCAxMi44M0wzNS4xNyAxMCAyNCAyMS4xNyAxMi44MyAxMCAxMCAxMi44MyAyMS4xNyAyNCAxMCAzNS4xNyAxMi44MyAzOCAyNCAyNi44MyAzNS4xNyAzOCAzOCAzNS4xNyAyNi44MyAyNHoiIHN0eWxlPSJmaWxsOiByZ2IoMjU1LCAyNTUsIDI1NSk7Ii8+PC9zdmc+);
      background-repeat: no-repeat;
      background-position: center;
      background-size: $navHeight/2.5;
      margin: 16px;
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }

  .rmq-nav-logo {
    background: white;
    img {
      height: $navHeight/2;
      margin: $navHeight/4;
    }
  }

  .rmq-nav-item {
    float: left;
    height: $navHeight;
    position: relative;
    line-height: $navHeight;
    transition: $trans;

    .rmq-nav-item-link {
      display: block;
      position: relative;
      height: $navHeight;
      width: 100%;

      text-align: center;
      line-height: $navHeight;
      text-decoration: none;
      color: inherit;

      transition: $trans;
    }
  }
}
